<!-- filepath: c:\Users\nsays\OneDrive\Documents\GitHub\timeToFinish\templates\choice_selector.html -->
<div class="rpgui-container framed" style="max-width:500px;margin:auto;">
  <label>Choose search method:</label>
  <input type="radio" id="by_game" name="search_method" value="game" checked onchange="toggleForms()">
  <label for="by_game" style="display:inline;font-weight:normal;">By Game Name</label>
  <input type="radio" id="by_steam" name="search_method" value="steam" onchange="toggleForms()">
  <label for="by_steam" style="display:inline;font-weight:normal;">By Steam ID</label>
</div>